{% extends 'base.html' %}

{% block body %}
<div class="row">
	{% for tab in tabelas %}
	<div class="col-sm-4">
		<a href="/{{tab|lower}}/listar/">
			<div class="optbotao2">
				<span>{{tab}}</span>
			</div>
		</a>
	</div>
	{% endfor %}
</div>
<hr>
<div class="row botoes">
	<div class="col-md-2 col-md-offset-5">
		<a href="/painel/" class="btn btn-default form-control">Voltar</a>
	</div>
</div>
{% endblock %}