{% extends 'base.html' %}

{% block body %}
<form action="salvar/" method="POST">
	{% csrf_token %}

	<div class="row">
		<h3 class="titulo2">Alteração de Senha</h3><br>
		<div class="col-md-4 col-md-offset-4">
			<div class="form-group">
			  	<label for="senhaAtual">Senha atual</label><br>
			  	<input type="password" id="senhaAtual" name="senhaAtual" class="form-control" maxlength="20" placeholder="Digite sua senha atual." required>
			</div>
			<div class="form-group">
			  	<label for="senhaNova">Nova senha</label><br>
			  	<input type="password" id="senhaNova" name="senhaNova" class="form-control" maxlength="20" placeholder="Digite sua nova senha. Mínimo 8 digitos alfanuméricos" required>
			</div>
			<div class="form-group">
			  	<label for="senhaNova2">Repita a nova senha</label><br>
			  	<input type="password" id="senhaNova2" name="senhaNova2" class="form-control" maxlength="20" placeholder="Repita a sua nova senha" required>
			</div>
		</div>
	</div><br>

	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<input type="submit" class="btn btn-primary form-control" value="Salvar">
		</div>
	</div>
</form>
{% endblock %}