{% extends 'base.html' %}

{% block body %}
<form action="salvar/" method="POST">
	{% csrf_token %}

	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<div class="form-group">
		  		<label for="nome">Nome</label><br>
			  	<input type="text" id="nome" name="nome" class="form-control" maxlength="50" placeholder="{%if 'cnpj' in usInpuLista%}Nome da Empresa{%else%}Nome completo{%endif%}" value="{{usuarioObj.nome}}" required>
			</div>
			{% if 'curso' in usInputLista %}
			<div class="form-group">
				<label for="curso">Curso</label><br>
				<select id="curso" name="cursoId" class="form-control">
					<option selected disabled hidden>Selecione</option>
					{% for c in cursos %}
					{% if c.id == request.user.usuario.curso.id %}
					<option value="{{c.id}}" selected>{{ c.nome }}</option>
					{% else %}
					<option value="{{c.id}}">{{ c.nome }}</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
			{% endif %}
			{% if 'setor' in usInputLista %}
			<div class="form-group">
				<label for="setor">Setor</label><br>
				<select id="setor" name="setorId" class="form-control">
					<option selected disabled hidden>Selecione</option>
					{% for s in setores %}
					{% if s.id == request.user.usuario.setor.id %}
					<option value="{{s.id}}" selected>{{ s.nome }}</option>
					{% else %}
					<option value="{{s.id}}">{{ s.nome }}</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
			{% endif %}
			{% if 'profissao' in usInputLista %}
			<div class="form-group">
				<label for="profissao">Profissão</label><br>
				<input type="text" id="profissao" name="profissao" class="form-control" maxlength="50" placeholder="Profissão" value="{{usuarioObj.profissao}}" required>
			</div>
			{% endif %}
			<div class="form-group">
				<label for="nasc">Data de Nascimento</label><br>
				<input type="date" id="nasc" name="nasc" class="form-control" max="{{hoje}}" value="{{usuarioObj.dataNasc}}" required>
			</div>
			{% if 'sexo' in usInputLista %}
			<div class="form-group">
				<label>Sexo</label><br>
				<input type="radio" id="Masculino" name="sexoId" value='1' {% if usuarioObj.sexo.id == 1 %} checked {% endif %}>
				<label for="Masculino">Masculino</label> &nbsp;
				<input type="radio" id="Feminino" name="sexoId" value="2" {% if usuarioObj.sexo.id == 2 %} checked {% endif %}>
				<label for="Feminino">Feminino</label>
			</div><hr>
			{% endif %}
		</div>

		<div class="col-md-5">
			<div class="form-group">
				<label for="endCep">CEP</label><br>
				<input type="text" id="endCep" name="endCep" class="form-control" maxlength="9" placeholder="CEP" value="{{usuarioObj.endereco.cep}}" required>
			</div>
			<div class="form-group">
				<label for="endLogr">Nome da Rua</label><br>
				<input type="text" id="endRua" name="endRua" class="form-control" placeholder="Rua, avenida, etc." value="{{usuarioObj.endereco.rua}}" required>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="form-group">
					  	<label for="endNum">Número</label><br>
					  	<input type="text" id="endNum" name="endNum" class="form-control" maxlength="10" placeholder="Número da casa" value="{{usuarioObj.endereco.numero}}" required>
					</div>
				</div>
				<div class="col-md-7">
					<div class="form-group">
						<label for="endCompl">Complemento</label><br>
						<input type="text" id="endCompl" name="endCompl" class="form-control" placeholder="Complemento" value="{{usuarioObj.endereco.complem}}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
					  	<label for="endUf">UF</label><br>
					  	<input type="text" id="endUf" name="endUf" class="form-control" maxlength="2" placeholder="UF" value="{% if usuarioObj.endereco.uf %}{{usuarioObj.endereco.uf}}{% else %}PI{% endif %}" required>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
					  	<label for="endNumero">Cidade</label><br>
					  	<input type="text" id="endCidade" name="endCidade" class="form-control" maxlength="30" placeholder="Cidade" value="{{usuarioObj.endereco.cidade}}" required>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<label for="endBairro">Bairro</label><br>
						<input type="text" id="endBairro" name="endBairro" class="form-control" maxlength="30" placeholder="Bairro" value="{{usuarioObj.endereco.bairro}}" required>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="telefone">Telefone para contato</label><br>
						<input type="text" id="telefone" name="telefone" class="form-control" maxlength="15" placeholder="Telefone. Somente números" {% if usuarioObj.telefone %} value="{{usuarioObj.telefone}}" {% else %} value="" {% endif %} required>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<br><input type="submit" class="btn btn-primary form-control" value="Salvar">
		</div>
	</div>
	{% if usuarioObj.endereco.cep is None %}
	<input type="hidden" name="primeiroAcesso">
	{% endif %}
</form>
{% endblock %}