{% extends 'base.html' %}

{% block body %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		{% for unid in unidadeLista %}
		<div class="row">
			<h3 class="titulo2">{{unid.nome}}</h3>
			<table class="table table-bordered lista">
				{% if podeCadastrar %}
				<tr>
					<th width="40%">Nome</th>
					<th width="20%">Tipo</th>
					<th width="20%" class="horiz-center">Disponibilidade</th>
					<th width="10%" class="horiz-center">Qtd</th>
					<th width="10%" class="horiz-center">Ativo</th>
				</tr>
				{% else %}
				<tr>
					<th width="40%">Nome</th>
					<th width="25%">Tipo</th>
					<th width="25%" class="horiz-center">Disponibilidade</th>
					<th width="10%" class="horiz-center">Quant</th>
				</tr>
				{% endif %}
				{% for rc in recursos %}
				{% if rc.unidade.id == unid.id %}
				<tr class="rowLink" data-href="{{dataHref}}/{{rc.id}}/">
					<td>{{rc.nome}}</td>
					<td>{{rc.tipo.nome}}</td>
					<td class="horiz-center">
						{% if rc.dispHoraInicio|date:"H:i" == "00:00" and rc.dispHoraFim|date:"H:i" == "00:00"%}
						24h
						{% else %}
						{{rc.dispHoraInicio|date:"H:i"}} - {{rc.dispHoraFim|date:"H:i"}}
						{% endif %}
					</td>
					<td class="horiz-center">{{rc.quantidade}}</td>
					{% if podeCadastrar %}
					<td class="horiz-center">
						{% if rc.ativo %}
						<span class="glyphicon glyphicon-ok-sign"></span>
						{% else %}
						<span class="glyphicon glyphicon-remove-sign"></span>
						{% endif %}
					</td>
					{% endif %}
				</tr>
				{% endif %}
				{% endfor %}
				{% if unid.vazio %}
				<tr>
					<td colspan="5">Não há recursos..</td>
				</tr>
				{% endif %}
			</table>
		</div>
		{% endfor %}
	</div>
</div>
<hr>
<div class="row botoes">
	{% if podeCadastrar %}
	<div class="col-sm-2 col-sm-offset-3">
		<a href="/painel/" class="btn btn-default form-control">Voltar</a>
	</div>
	<div class="col-sm-4">
		<a class="btn btn-primary form-control" href="/recursos/adicionar/"><span class="glyphicon glyphicon-plus"></span> &nbsp; ADICIONAR NOVO RECURSO</a>
	</div>
	{% else %}
	<div class="col-sm-4 col-sm-offset-4">
		<a href="/painel/" class="btn btn-default form-control">Voltar</a>
	</div>
	{% endif %}
</div>
{% endblock %}