{% extends 'base.html' %}
{% load staticfiles %}

{% block addHead %}
<script src="{% static 'lib/slick/slick.min.js' %}"></script>
<link href="{% static 'lib/slick/slick.css' %}" rel="stylesheet">
<link href="{% static 'lib/slick/slick-theme.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-sm-6">
		<div class="recursoImgSlide">
			{% for img in recursoFotos %}
			{% if img != "vazio" %}
			<img class="imgBorda" src="{% static img %}">
			{% endif %}
			{% endfor %}
			{% if semFoto %}
			<img class="imgBorda" src="{% static 'imagens/recursos/semFoto.jpg' %}">
			{% endif %}
		</div>
	</div>
	<div class="col-sm-5 col-sm-offset-1">
		<div class="titulo3">Descrição:</div>
		<span class="paragrafo2">{{recursoObj.descricao}}</span>
		<br><br>
		<div class="titulo3">Horário de disponibilidade:</div>
		{% if recursoObj.dispHoraInicio == recursoObj.dispHoraFim and recursoObj.dispHoraInicio|time:"H:i" == "00:00" %}
		24h
		{% else %}
		Das <strong>{{recursoObj.dispHoraInicio|time:"H\hi"}}</strong> 
		às <strong>{{recursoObj.dispHoraFim|time:"H\hi"}}</strong>
		{% endif %}
		<br><br>
		<div class="titulo3">Local de uso:</div>
		{{recursoObj.unidade}}
		<br><br>
		<div class="titulo3">Quantidade disponibilizada:</div>
		{{recursoObj.quantidade}}
		<hr>
		<div class="row">
			<div class="col-md-4">
				<a href="/recursos/listar/" class="btn btn-default form-control">Voltar</a>
			</div>
		</div>
	</div>

</div>
{% endblock %}