{% extends 'base.html' %}
{% load staticfiles %}

{% block addHead %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script src="{% static 'lib/timePickerEvents.js' %}"></script>
{% endblock %}

{% block body %}
<form action="salvar/" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label>Nome</label>
				<input type="text" name="recursoNome" class="form-control" value="{{recursoObj.nome}}" placeholder="Nome" required>
			</div>
			<div class="form-group">
				<label>Tipo do Recurso</label>
				<select id="recursoTipo" name="recursoTipoId" class="form-control">
					<option selected disabled hidden>Selecione</option>
					{% for rcTipo in rcTipos %}
					{% if rcTipo.id == recursoObj.tipo.id %}
					<option value="{{rcTipo.id}}" selected>{{rcTipo.nome}}</option>
					{% else %}
					<option value="{{rcTipo.id}}">{{rcTipo.nome}}</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label>Descrição</label>
				<textarea name="recursoDescricao" class="form-control" rows="5" placeholder="Detalhes do recurso. Funcionalidades, dimensões, recursos que acompanham, etc." required>{{recursoObj.descricao}}</textarea>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label>Quantidade</label>
					<input type="number" name="recursoQuantidade" class="form-control" min="1" value="{% if modo == 'editar' %}{{recursoObj.quantidade}}{% else %}1{% endif %}" required>
				</div>
				<div class="col-md-6">
					<label>Unidade do Campus</label>
					<select id="unidade" name="recursoUnidadeId" class="form-control">
						<option selected disabled hidden>Selecione</option>
						{% for u in unidades %}
						{% if u.id == recursoObj.unidade.id %}
						<option value="{{u.id}}" selected>{{u.nome}}</option>
						{% else %}
						<option value="{{u.id}}">{{u.nome}}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</div><br>
			<div class="row">
				<div class="col-sm-6">
					<label>Horário de Disponibilidade - Início</label>
					<input type="text" name="recursoDispHoraInicio" class="form-control timePicker" value="{% if modo == 'editar' %}{{recursoObj.dispHoraInicio}}{% else %}08:00{% endif %}" required>
				</div>
				<div class="col-sm-6">
					<label>Horário de Disponibilidade - Fim</label>
					<input type="text" name="recursoDispHoraFim" class="form-control timePicker" value="{% if modo == 'editar' %}{{recursoObj.dispHoraFim}}{% else %}22:00{% endif %}" required>
				</div>
				<div class="col-sm-12">
					<br><span class="msgAjuda">* Para manter o recurso o disponível 24h insira "00:00" nos dois campos acima.</span>
				</div>	
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				{% for ft in fotos %}
				<div class="col-xs-4 horiz-center">
					<label>Foto {{forloop.counter}}</label>
					<img class="img-responsive alteraImg imgBorda" id="recursoFotoInput{{forloop.counter}}" src="{% if ft != 'vazio' %}{% static ft %}{% else %}{% static 'imagens/recursos/vazio.jpg' %}{% endif %}">
					<div class="form-group">
						<label class="btn btn-default form-control">
							{% if ft != 'vazio' %}Alterar{% else %}Adicionar{% endif %}<input type='file' name="recursoFotoInput{{forloop.counter}}" onchange="changeImgSrc(this);"  accept=".jpg,.jpeg,.png"/>
						</label>
					</div>
				</div>
				{% endfor %}
			</div><hr>
			<label>Disponibilidade para Reserva</label>
			{% for usTipo in usTipos %}
			<div class="checkbox">
				<label>
					<input type="checkbox" id="label" name="disponibUsuario" value="{{usTipo.id}}" {% if usTipo.recursoDisp %}checked{% endif %}>
					{{usTipo.nome}}
				</label>
			</div>
			{% endfor %}
			<hr>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="recursoAtivo" {% if recursoObj.ativo or modo == "adicionar" %}checked{% endif %}>
					<strong>Ativo</strong> 
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="recursoRequerAval" {% if recursoObj.requerAvaliacao or modo == "adicionar" %}checked{% endif %}>
					<strong>Requer Avaliação da Instituição</strong>
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="recursoRequerOficio" {% if recursoObj.requerOficio or modo == "adicionar" %}checked{% endif %}>
					<strong>Requer envio de Ofício</strong>
				</label>
			</div>
		</div>
	</div>
	<hr>
	<!-- Botões -->
	<div class="row botoes">
		<div class="col-md-4">
			<a href="/recursos/listar/" class="btn btn-default form-control">Voltar</a>
		</div>
		<div class="col-md-4">
			{%if modo == 'editar' %}
			<a href="/recursos/exibir/{{recursoObj.id}}/" class="btn btn-warning form-control" target="_blank">Exibir</a>
			{% else %}
			<a href="/recursos/adicionar/" class="btn btn-warning form-control">Refazer</a>
			{% endif %}
		</div>
		<div class="col-md-4">
			<input type="submit" class="btn btn-primary form-control" value="{% if modo == 'editar' %}Salvar{% else %}Adicionar{% endif %}">
		</div>
	</div>
</form>

{% endblock %}