{% extends 'base.html' %}

{% block body %}
<form action="salvar/" method="POST">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="form-group">
				<label for="setor">Nome do Setor</label>
				<input type="text" id="setor" name="setor" class="form-control" placeholder="Novo Setor" value='{{setorEdit.nome}}' required>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="checkbox col-md-4 col-md-offset-4">
			<label>
				<input type="checkbox" name="setorAtivo" {% if setorEdit.ativo or modo == 'adicionar' %}checked{% endif %}>
				Ativo?
			</label>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-2 col-md-offset-3">
			<a href="/setor/listar/" class="btn btn-default form-control">Voltar</a>
		</div>
		<div class="col-md-4">
			<input type="submit" class="btn btn-primary form-control" value="{% if acao == 'adicionar' %}Adicionar{% else %}Salvar{% endif %}">
		</div>
	</div>
</form>
{% endblock %}