{% extends 'base.html' %}

{% block body %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<table class="table table-bordered lista">
			<tr>
				<th width="10%" class="horiz-center">#</th>
				<th width="90%">Nome</th>
			</tr>
			{% for s in setores %}
			<tr class="rowLink" data-href="/setor/editar/{{s.id}}/">
				<td class="horiz-center">{{forloop.counter|stringformat:"02d"}}</td>
				<td>{{s.nome}}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="2">Sem setores por enquanto..</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<a class="btn btn-primary form-control" href="/setor/adicionar/"><span class="glyphicon glyphicon-plus"></span> &nbsp; ADICIONAR NOVO SETOR</a>
	</div>
</div>
{% endblock %}