{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Notificação DoHere</title>
	</head>
	<body style="margin: 0; padding: 0;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr bgcolor="#def">
				<td align="center" height="200">
					<img src="{{ request.get_host }}{% static 'imagens/layout/logoDoHere.png' %}">
				</td>
			</tr>
			<tr>
				<td align="center" height="150">
					<img src="{{ request.get_host }}{% static 'imagens/layout/email/bell.png' %}">
				</td>
			</tr>
			<tr>
				<td align="center" height="100" style="font-size: 16pt; color: #333; vertical-align: top;">
					Tem um <strong>novo pedido</strong> de reserva para o campus<br>{{request.user.usuario.campus}}.
				</td>
			</tr>

			<!-- Detalhes -->
			<tr>
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr bgcolor="#0077bd">
						<td height="30" style="color: white; padding: 0px 50px">
							Detalhes do Pedido
						</td>
					</tr>
					<tr>
						<td height="10">
						</td>
					</tr>
					<tr>
						<td height="30" style="color: #333; padding: 0px 50px">
							<strong>Título: </strong>{{ped.reserva.titulo}}
						</td>
					</tr>
					<tr>
						<td height="30" style="color: #333; padding: 0px 50px">
							<strong>Nome do solicitante: </strong>
							{{ped.solicitanteNome}}
						</td>
					</tr>
					<tr>
						<td height="30" style="color: #333; padding: 0px 50px">
							<strong>Contato: </strong>
							{{ped.solicitanteContato}}
						</td>
					</tr>
					<tr>
						<td height="30" style="color: #333; padding: 0px 50px;">
							<strong>Criado por: </strong>
							{{ped.usuario.nome}}
						</td>
					</tr>
					<tr>
						<td height="10" style="border-bottom: 1px solid #ccc;">
						</td>
					</tr>
				</table>
			</tr>

			<!-- Avaliar Pedido -->
			<tr>
				<table cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td align="center" height="150" style="font-size: 16pt; color: #333; padding: 0px 50px;">
							O prazo para que esse pedido seja avaliado é de <strong>{{configUespi.periodoAvalInicio}}</strong> a <strong>{{configUespi.periodoAvalFim}}</strong> dias úteis.
						</td>
					</tr>
					<tr>
						<td align="center" height="80" style="font-size: 14pt; color: #333; vertical-align: top;">
							<div style="background-color: #ff8800; width: 200px;">
								<a href="{{ request.get_host }}/solicitacoes/detalhar/{{ped.id}}/" style="color: white; text-decoration: none;">
									<div style="padding: 15px 0px;">
										Avaliar Pedido
									</div>
								</a>
							</div>
						</td>
					</tr>
				</table>
			</tr>

			<!-- Rodapé -->
			<tr>
				<table cellpadding="0" cellspacing="0" width="100%" style="margin-top: 50px;">
					<tr bgcolor="#eeeeef">
						<td height="100" align="center" style="font-size: 10pt; color: #333">
							Alterar <a href="{{ request.get_host }}/configuracoes/notificacao/" style="color: #0077bd;">Configurações de Notificação</a>
						</td>
						<td height="100" align="center">
							<a href="localhost:8000/">
					    		<img src="{{ request.get_host }}{% static 'imagens/layout/uespi_reservas.png' %}">
					    	</a>
						</td>
					</tr>
					<tr bgcolor="#0077bd">
						<td height="10" colspan="2">
							
						</td>
					</tr>
				</table>
			</tr>
		</table>
	</body>
</html>