{% extends 'base.html' %}

{% block body %}

<form action="{% if not messages %}salvar/{%endif%}" method="POST">
	{% csrf_token %}

	<div class="row">
		<h3 class="horiz-center titulo2">Insira os dados - {{usTipo}}</h3>
		<br>
		<div class="col-md-4 col-md-offset-4">
			<div class="form-group">
		  		<label for="nome">Nome</label><br>
			  	<input type="text" id="nome" name="nome" class="form-control" maxlength="50" placeholder="Nome completo" value="{{request.POST.nome}}" autocomplete="off" required>
			</div>
			<div class="form-group">
				<label for="email">E-mail</label><br>
				<input type="email" id="email" name="email" class="form-control" placeholder="E-mail" value="{{request.POST.email}}" required>
			</div>
			{% if 'cnpj' in inputLista %}
			<div class="form-group">
				<label for="cnpj">CNPJ</label><br>
				<input type="text" id="cnpj" name="cnpj" class="form-control" maxlength="14" placeholder="CNPJ da Empresa. Somente números" value="{{request.POST.cnpj}}" required>
			</div>
			{% endif %}
			{% if 'cpf' in inputLista %}
			<div class="form-group">
				<label for="cpf">CPF</label><br>
				<input type="text" id="cpf" name="cpf" class="form-control" maxlength="11" placeholder="CPF. Somente números" value="{{request.POST.cpf}}" required>
			</div>
			{% endif %}
			{% if 'matricula' in inputLista %}
			<div class="form-group">
				<label for="matricula">Matrícula UESPI</label><br>
				<input type="text" id="matricula" name="matricula" class="form-control" maxlength="7" placeholder="Matrícula UESPI" value="{{request.POST.matricula}}" required>
			</div>
			{% endif %}
			{% if 'curso' in inputLista %}
			<div class="form-group">
				<label for="curso">Curso</label><br>
				<select id="curso" name="cursoId" class="form-control">
					<option selected disabled hidden>Selecione</option>
					{% for c in cursos %}
					{% if c.id|stringformat:"s" == request.POST.cursoId %}
					<option value="{{c.id}}" selected>{{c.nome}}</option>
					{% else %}
					<option value="{{c.id}}">{{c.nome}}</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
			{% endif %}
			{% if 'setor' in inputLista %}
			<div class="form-group">
				<label for="setor">Setor</label><br>
				<select id="setor" name="setorId" class="form-control">
					<option selected disabled hidden>Selecione</option>
					{% for s in setores %}
					{% if s.id|stringformat:"s" == request.POST.setorId %}
					<option value="{{s.id}}" selected>{{s.nome}}</option>
					{% else %}
					<option value="{{s.id}}">{{s.nome}}</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
			{% endif %}
			{% if 'telefone' in inputLista %}
			<div class="form-group">
				<label for="telefone">Telefone para contato</label><br>
				<input type="text" id="telefone" name="telefone" class="form-control" maxlength="15" placeholder="Telefone. Somente números". value="{{request.POST.telefone}}" required>
			</div>
			{% endif %}
			{% if request.user.usuario.tipo.id == 1 %} <!-- Permissão de SuperADMIN -->
			<div class="form-group">
				<label for="campus">Campus</label><br>
				<select id="campus" name="campusId" class="form-control">
					<option selected disabled hidden>Selecione</option>
					{% for cp in campusLista %}
					{% if cp.id|stringformat:"s" == request.POST.campusId %}
					<option value="{{cp.id}}" selected>{{cp.nome}}</option>
					{% else %}
					<option value="{{cp.id}}">{{cp.nome}}</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
			{% endif %}
<!-- 			<div class="form-group">
			  	<label for="senha">Senha</label><br>
			  	<input type="password" id="senha" name="senha" class="form-control" maxlength="20" placeholder="Digite sua senha. Mínimo 8 digitos alfanuméricos" required>
			</div>
			<div class="form-group">
			  	<label for="senha2">Repita a Senha</label><br>
			  	<input type="password" id="senha2" name="senhaRep" class="form-control" maxlength="20" placeholder="Digite a senha novamente" required>
			</div> -->
		</div>
	</div>
	<hr>
	<div class="row botoes">
		<div class="col-sm-4 col-sm-offset-2">
			<a href="/usuarioCadastro/tipo/" class="btn btn-default form-control">Voltar</a>
		</div>
		<div class="col-sm-4">
			<input type="submit" class="btn btn-primary form-control" value="Cadastrar">
		</div>
	</div>
</form>

{% endblock %}