{% extends 'base.html' %}

{% block body %}
<form id="selecaoFixaForm" action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <h3 class="horiz-center titulo2">Selecione o tipo</h3>
        <br>
        <div class="col-sm-6 col-sm-offset-3">
            <div class="row">
                {% for t in usTipos %}
                <div class="col-sm-4">
                    <div class="selecaoFixa">
                        <div>{{t.nome}} <span class="glyphicon glyphicon-ok okIcone" style="display: none;"></span></div>
                    </div>
                    <div class="hidden">
                        <input type="radio" class="selecaoFixaOpcao" name="usuarioTipoId" data-href="/usuarioCadastro/formulario/{{t.id}}/" value="{{t.id}}" required>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    <div class="row botoes">
         <div class="col-sm-2 col-sm-offset-3">
            <a href="/usuarios/listar/" class="btn btn-default form-control">Voltar</a>
        </div>
        <div class="col-sm-4">
            <input type="submit" class="btn btn-primary form-control" value="Continuar">
        </div>
    </div>
</form>
{% endblock %}