{% extends 'base.html' %}

{% block body %}
<form action="salvar/" method="POST">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="form-group">
				<label for="feriadoData">Data</label>
				<input type="date" id="feriadoData" name="feriadoData" class="form-control" min="{{hoje}}" value='{{feriadoObj.data}}' required>
			</div>
			<div class="form-group">
				<label for="feriadoNome">Nome do Dia</label>
				<input type="text" id="feriadoNome" name="feriadoNome" class="form-control" value='{{feriadoObj.nome}}' placeholder="Ex: Dia do professor; Campus sedido à Justiça Eleitoral" required>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="checkbox col-md-4 col-md-offset-4">
			<label>
				<input type="checkbox" name="feriadoAtivo" {% if feriadoObj.ativo or modo == 'adicionar' %}checked{% endif %}>
				Ativo?
			</label>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-2 col-md-offset-3">
			<a href="/feriado/listar/" class="btn btn-default form-control">Voltar</a>
		</div>
		<div class="col-md-4">
			<input type="submit" class="btn btn-primary form-control" value="{% if acao == 'adicionar' %}Adicionar{% else %}Salvar{% endif %}">
		</div>
	</div>
</form>
{% endblock %}