{% extends 'base.html' %}

{% block body %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<table class="table table-bordered lista">
			<tr>
				<th width="10%" class="horiz-center">#</th>
				<th width="70%">Nome</th>
				<th width="20%" class="horiz-center">Data</th>
			</tr>
			{% for f in feriados %}
			<tr class="rowLink" data-href="/feriado/editar/{{f.id}}/">
				<td class="horiz-center">{{forloop.counter|stringformat:"02d"}}</td>
				<td>{{f.nome}}</td>
				<td class="horiz-center">{{f.data|date:"d/m/y"}}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="2">Sem feriados por enquanto..</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<a class="btn btn-primary form-control" href="/feriado/adicionar/"><span class="glyphicon glyphicon-plus"></span> &nbsp; ADICIONAR NOVO FERIADO</a>
	</div>
</div>
{% endblock %}