<!DOCTYPE html>
<html>
	{% load staticfiles %}

	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/animate.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="{% static 'imagens/favicon.png' %}" rel="shortcut icon">
		
		<script src="{% static 'lib/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'lib/bootstrap.js' %}"></script>
		<script src="{% static 'lib/jquery.limitText.js' %}"></script>
		<script src="{% static 'lib/extraScripts.js' %}"></script>
		{% if request.user.is_authenticated %}
		<script src="{% static 'lib/carregNotificacao.js' %}"></script>
		{% endif %}

		{% block addHead %}
			<!-- Links e scripts adicionais -->
		{% endblock %}

		<title>{{pg.abaTitulo}}</title>
	</head>

	<body class="backPage">
		<div class="page">
			<div style="width: 100%; height: 20px; background-color: #0077bd;"></div>
			<nav class="navbar navbar-inverse">
			  	<div class="container">
				    <div class="navbar-header">
				    	<a class="navbar-brand vertical-center" href="/index/">
				    		<img src="{% static 'imagens/layout/uespi_reservas.png' %}">
				    	</a>
				    </div>
			    	<ul class="nav navbar-nav navbar-right navItens">
			    		{% if request.user.is_authenticated %}
						<li>
							<a href="{{pg.navbar.navItem1.link}}"> <!-- title="{{request.user.usuario.tipo.nome}}" -->
								<span class="glyphicon glyphicon-{{pg.navbar.navItem1.icone}}">&nbsp;</span>
								<span>{{pg.navbar.navItem1.rotulo}}</span>
							</a>
						</li>
						<li id="notificacoesNav" role="presentation" class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
								<div id="notificacaoNum" class="notificacao hidden"></div>
								<div id="notificacaoZero" class="notificacaoZero">0</div>
								<span id="notifLabel"></span>
								<span class="caret"></span>
							</a>
							<ul id="notifDescricao" class="dropdown-menu">
								<div id="semNotifMsg" class="horiz-center semSelecao">
									<span>Sem Notificações</span>
								</div>
								<li class="dropdown-header horiz-center">
									<a href="/notificacoes/verTudo/">Ver tudo</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/configuracoes/">
								<span class="glyphicon glyphicon-cog"></span>
								<span id="configLabel"></span>
							</a>
						</li>
						{% endif %}
						<li>
							{% if pg %}
							<a href="{{pg.navbar.navItem2.link}}">
								<span class="glyphicon glyphicon-{{pg.navbar.navItem2.icone}}">&nbsp;</span>
								<span>{{pg.navbar.navItem2.rotulo}}</span>
							</a>
							{% else %}
							<a href="/logout/">
								<span class="glyphicon glyphicon-log-out">&nbsp;</span>
								<span>Sair</span>
							</a>
							{% endif %}
						</li>
				    </ul>
			  	</div>
			</nav>
			<div class="container">
				{% if messages %}
				{% for message in messages %}
				<div class="alert {{ message.tags }} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
                    {{message|safe}}
                </div>
				{% endfor %}
				{% endif %}
				{% if pg.paginaTitulo %}
				<div class="barraDeTitulo">
					<span class="titulo1">
						<span class="glyphicon glyphicon-play"></span> 
						{{pg.paginaTitulo|upper}}
					</span>
				</div>
				{% endif %}
				
				{% block body %}
					
				{% endblock %}

			</div>
		</div>
		<footer class="footer semSelecao">
			<div class="container">
				<div class="row" style="color: #eeeeef;">
					<div class="col-sm-4 col-xs-6">
						<li><!-- <a href="/contato/"> -->Contato<!-- </a> --></li>
						<li><!-- <a href="/duvidasFrequentes/"> -->Dúvidas frequentes<!-- </a> --></li>
						<li><!-- <a href="/politicasDePrivacidade/"> -->Políticas de privacidade<!-- </a> --></li>
						<li><!-- <a href="/termos/"> -->Termos e condições de uso<!-- </a> --></li>			        	
		        	</div>
		        	<div class="col-sm-4 col-xs-6">
		        		<li><!-- <a href="#"> -->Suporte<!-- </a> --></li>
		        		<li><!-- <a href="/desenvolvedores/"> -->Desenvolvedores<!-- </a> --></li>
		        		<li><!-- <a href="/relatarProblema/"> -->Relatar um problema<!-- </a> --></li>
		        	</div>
		        	<div class="col-sm-4 col-xs-12">
		        		<div class="right vertical-center" style="margin-top: 10px">
			        		<img class="img-responsive" src="{% static 'imagens/layout/logoInstituicao.png' %}">
			        		<img class="img-responsive" src="{% static 'imagens/layout/logoNupecDelta.png' %}">
			        		<img class="img-responsive" src="{% static 'imagens/layout/logoComputacao.png' %}">
		        		</div>
		        	</div>
	        	</div>
	        </div>
	    </footer>

	    <footer class="footer-bottom semSelecao">
			<div class="container">
				DoHere &bull; Universidade Estadual do Piauí - Campus {{request.user.usuario.campus}}
	        </div>
	    </footer>
	</body>
</html>