{% extends 'base.html' %}
{% load staticfiles %}

{% block addHead %}
	<link rel='stylesheet' href="{% static 'css/fullcalendar.css' %}">
	<script src="{% static 'lib/moment.min.js' %}"></script>
	<script src="{% static 'lib/fullcalendar.js' %}"></script>
	<script src="{% static 'locale/pt-br.js' %}"></script>
	<script src="{% static 'lib/calendarioEstatico.js' %}"></script>
{% endblock %}

{% block body %}
{% if altCampus is not None %}
<div class="row">
	<div class="col-md-5 col-md-offset-7">
		<div class="form-group">
			<label for="campus">Campus</label><br>
			<select id="campus" name="campusId" class="form-control" onchange="location=this.value;">
				<option selected disabled hidden>Selecione</option>
				{% for c in altCampus.campusLista %}
				{% if c == altCampus.campusAtual %}
				<option value="/campus{{c.id}}/calendario/" selected>{{ c.nome }}</option>
				{% else %}
				<option value="/campus{{c.id}}/calendario/">{{ c.nome }}</option>
				{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>
</div>
<hr>
{% endif %}
<div id="calendario"></div>
<div id="telaCheia">
	<div class="col-xs-3 col-xs-offset-5 vertical-center">
		<h2>CARREGANDO O CALENDÁRIO...</h2>
	</div>
</div>
{% endblock %}