{% extends 'base.html' %}

{% block body %}
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-cog">&nbsp;</span>Configurações
			</div>
			<div class="panel-body">
				<table class="table lista">
					{% if geralAcesso %}
					<tr class="rowLink" data-href="#">
						<td><span class="glyphicon glyphicon-globe">&nbsp;</span>Geral</td>
					</tr>
					{% endif %}
					<tr class="rowLink" data-href="/usuarioDados/editar/">
						<td><span class="glyphicon glyphicon-user">&nbsp;</span>Dados Cadastrais</td>
					</tr>
					<tr class="rowLink" data-href="/usuarioDados/alterarSenha/">
				    	<td><span class="glyphicon glyphicon-lock">&nbsp;</span>Alterar Senha</td>
				    </tr>
				    {% if logAcesso %}
					<tr class="rowLink" data-href="/configuracoes/log/">
						<td><span class="glyphicon glyphicon-briefcase">&nbsp;</span>Log de Atividades</td>
					</tr>
					{% endif %}
				    <!-- <tr class="rowLink" data-href="/notificacoes/config/">
				    	<td><span class="glyphicon glyphicon-bell">&nbsp;</span>Notificações</td>
				    </tr> -->
			    </table>
			</div>
		</div>
	</div>
</div>
{% endblock %}