{% extends 'base.html' %}

{% block addHead %}
	{% load staticfiles %}
	<link href="{% static 'css/chart.css' %}" rel="stylesheet">
	<script src="{% static 'lib/chart.js' %}"></script>
	<script src="{% static 'lib/estatisticas.js' %}"></script>

{% endblock %}

{% block body %}
{% if altCampus is not None %}
<div class="row">
	<div class="col-md-5 col-md-offset-7">
		<div class="form-group">
			<label for="campus">Campus</label><br>
			<select id="campus" name="campusId" class="form-control" onchange="location=this.value;">
				<option selected disabled hidden>Selecione</option>
				{% for c in altCampus.campusLista %}
				{% if c == altCampus.campusAtual %}
				<option value="/campus{{c.id}}/estatisticas/" selected>{{ c.nome }}</option>
				{% else %}
				<option value="/campus{{c.id}}/estatisticas/">{{ c.nome }}</option>
				{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>
</div>
<hr>
{% endif %}
<h3 class="titulo2">
	Campus 
	{% if altCampus is not None %}
	{{altCampus.campusAtual}}
	{% else %}
	{{request.user.usuario.campus}}
	{% endif %}
</h3>
<br><br>
<div class="row">
	<div class="col-xs-12">
		<h3 class="titulo2">Pedidos nesse Mês</h3>
		<canvas id="mesAtualBarras" width="100" height="30"></canvas>
	</div>
</div>
<br>
<hr>
<div class="row">
	<div class="col-sm-5">
		<h3 class="titulo2">Todos os Pedidos</h3>
		<canvas id="totalPizza"></canvas>
	</div>
	<div class="col-sm-7">
		<h3 class="titulo2">Pedidos nos últimos 12 meses</h3>
		<canvas id="anualBarras"></canvas>
	</div>
</div>

{% endblock %}