{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
	<div class="row">
		<div class="col-sm-10 col-xs-12 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2 col-xs-offset-0 col-sm-offset-1 horiz-center">
			<img id="indexLogoPrincipal" class="animated fadeInDown" src="{% static 'imagens/layout/indexDoHere.png' %}">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h2 class="titulo3">Saiba mais</h2>
			<div class="paragrafo1"><span>A plataforma DoHere objetiva disponibilizar à comunidade acadêmica um ambiente amigável e facilitador para o processo de reservas de Recursos da Universidade Estadual do Piauí. Por meio de credenciais de acesso você terá acesso ao calendário geral de reservas, podendo assim consultar dia e horário, permitindo a praticidade de efetivar uma reserva, seja você um Aluno, Professor, Técnico Administrativo ou Pessoa Física/Jurídica externa.</span>
			</div>
		</div>
	</div>
{% endblock %}