{% extends 'base.html' %}

{% block body %}
<table class="table table-striped lista">
	<tr>
		<th width="65%">Atividade</th>
		<th width="23%">Adminstrador</th>
		<th width="12%">Data/Hora</th>
	</tr>
	{% for lg in logs %}
	<tr>
		<td>{{lg.atividade}}</td>
		<td>{{lg.usuario.nome}}</td>
		<td>{{lg.dataCriacao|date:"d/m/y - H:i:s"}}</td>
	</tr>
	{% endfor %}
</table>
{% if logs.paginator.num_pages > 1 %}
<div class="row">
	<div class="horiz-center">
		<ul class="pagination semSelecao">
			{% if logs.has_previous %}
			<li>
				<a href="?pag=1">
					<span>&laquo;</span>
				</a>
			</li>
			{% else %}
			<li class="disabled">
				<a><span>&laquo;</span></a>
			</li>
			{% endif %}

			{% for pagNum in logs.paginator.page_range %}
			{% if logs.number == pagNum %}
			<li class="active"><a>{{pagNum}}</a></li>
			{% else %}
			<li><a href="?pag={{pagNum}}">{{pagNum}}</a></li>
			{% endif %}
			{% endfor %}

			{% if logs.has_next %}
			<li>
				<a href="?pag={{ logs.paginator.num_pages }}">
					<span>&raquo;</span>
				</a>
			</li>
			{% else %}
			<li class="disabled">
				<a><span>&raquo;</span></a>
			</li>
			{% endif %}
		</ul>
	</div>
</div>
{% endif %}

{% endblock %}