{% extends 'base.html' %}

{% block body %}
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<form method="post" id="login">
		{% csrf_token %}
			<div class="login animated bounceInDown">
				<div class="col-md-12">
					<div class="form-group">
						<h2 class="titulo2">Entrar</h2>
					</div>
					<div class="form-group">
						<label>E-mail</label>
						<input type="email" name="email" class="form-control" placeholder="E-mail" value="{{request.POST.email}}" required>
					</div>
					<div class="form-group">
						<label>Senha</label>
						<input type="password" name="password" class="form-control" placeholder="Digite sua senha" required>
					</div>
					<div class="form-group" id="login-button">
						<button type="submit" class="btn btn-primary form-control">Entrar</button>
					</div>
					<div class="horiz-center">
						<a href="/password_reset/">Esqueci minha senha</a>
					</div><br>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}