{% extends 'base.html' %}

{% block body %}
<table class="table table-bordered lista">
	<tr>
		<th width="75%">Notificação</th>
		<th width="10" class="horiz-center">Visto?</th>
		<th width="15%" class="horiz-center">Data/Hora</th>
	</tr>
	{% for ntf in notificacoes %}
	<tr class="rowLink" data-href="/notificacoes/link/{{ntf.id}}{{ntf.link}}">
		<td>{{ntf.descricao|safe}}</td>
		<td class="horiz-center">{% if ntf.visto %}<span class="glyphicon glyphicon-ok-sign"></span>{% endif %}</td>
		<td class="horiz-center">{{ntf.dataCriacao|date:"d/m/y - H:i"}}</td>
	</tr>
	{% empty %}
	<tr>
		<td class="horiz-center" colspan="3">Não há notificações..</td>
	</tr>
	{% endfor %}
</table>
{% if notificacoes.paginator.num_pages > 1 %}
<!-- Paginação -->
<div class="row">
	<div class="horiz-center">
		<ul class="pagination semSelecao">
			{% if notificacoes.has_previous %}
			<li>
				<a href="?pag=1">
					<span>&laquo;</span>
				</a>
			</li>
			{% else %}
			<li class="disabled">
				<a><span>&laquo;</span></a>
			</li>
			{% endif %}

			{% for pagNum in notificacoes.paginator.page_range %}
			{% if notificacoes.number == pagNum %}
			<li class="active"><a>{{pagNum}}</a></li>
			{% else %}
			<li><a href="?pag={{pagNum}}">{{pagNum}}</a></li>
			{% endif %}
			{% endfor %}

			{% if notificacoes.has_next %}
			<li>
				<a href="?pag={{ notificacoes.paginator.num_pages }}">
					<span>&raquo;</span>
				</a>
			</li>
			{% else %}
			<li class="disabled">
				<a><span>&raquo;</span></a>
			</li>
			{% endif %}
		</ul>
	</div>
</div>
{% endif %}

{% endblock %}