{% extends "base.html" %}
{% load staticfiles %}

{% block addHead %}
	<link rel='stylesheet' href="{% static tema %}">
{% endblock %}

{% block body %}
	<div class="row">
		{% for painelOpc in painelOpcaoLista %}
			<div class="col-sm-4">
				<a href="{{painelOpc.link}}">
					<div class="row optbotao">
						<div id="icone" class="col-xs-4">
							<span class="glyphicon glyphicon-{{painelOpc.glyphicon}}"></span>
						</div>
						<div class="col-xs-8" style="display: inline;">
							<div>{{painelOpc.titulo}}&nbsp;
								{% if painelOpc.exibeNotifNumero %}
									{% if painelOpc.notifQuant > 0 %}
										<div class="notificacaoAtencao" title='{{painelOpc.notifQuant}} pedidos de reserva estão sem avaliação'>
											{{painelOpc.notifQuant}}
										</div>
									{% else %}
										<div class="notificacaoZero" title='Pedidos de reserva com status "Em análise"'>0</div>
									{% endif %}
								{% endif %}
							</div>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
	
{% endblock %}