a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

a:hover{
	color: #53b0da;
}

li{
	list-style-type: none;
}

html, body{
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	color: #456;
}

.imgBorda{
	border: 1px solid #ddd;
	padding: 3px;
}

textarea{
	resize: vertical;
	min-height: 40px;
	max-height: 200px;
	text-align: justify;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button {  
   opacity: 1;
}

.collapsible-title {
	background-color: #fafafa;
	color: #0099df;
	cursor: pointer;
	padding: 2px 10px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	white-space: nowrap;
}

.collapsible-active, .collapsible-title:hover {
 	background-color: #f4f4f4;
}

.collapsible-content {
	display: none;
	overflow: hidden;
}

.quebraLinha{
	min-width: 400px;
	white-space: -moz-pre-wrap !important;
	white-space: -webkit-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal;
}


#telaCheia{
	position:fixed;
    top:0;
    left:0;
    background:rgba(255,255,255,0.6);
    z-index:10;
    width:100%;
    height:100%;
    display:none;
    align-items: center;
}


#indexLogoPrincipal{
	width: 80%;
	margin: 100px 0px 40px 0px;
}

.usSelecao > div > input[type='radio']{
	margin-bottom: 50px;
}

.botoes{
	margin-top: 30px;
}

.indisponivel{
	background-color: #f4f4f4;
	color:#aaa;
}

.login, .popup{
	width: 100%;
	min-height: 320px;
	position: relative;
	margin-top: 40px;
	border: solid 3px #eee;
	border-top: solid 5px #eee;
	border-radius: 6px;
	background-color: white;
}

.popup{
	position: absolute;
	margin-top: 120px;
	z-index: 11;
	display: none;
	padding-bottom: 30px; 
}

.login button, .login button:hover{
	margin-top: 10px;
}

.navbar{
	background-color: #fdfdfd;
	border-bottom: solid 10px #eee;
	margin-bottom: 0px;
	border-radius: 0px;
}

.page{
	flex: 1 0 auto;
	min-height: 420px;
	padding-bottom: 30px;
}

.navItens span{
	color: #0077bd;
}

.navItens li:hover{
	background-color: #f8f8f8;
	border-radius: 2px;
}

.footer{
	flex-shrink: 0;
	padding: 10px 0px 10px 0px;
	width: 100%;
	background-color: #eeeeef;
}

.footer-bottom{
	flex-shrink: 0;
	width: 100%;
	padding: 1px 0px;
	background-color: #0077bd;
	text-align: center;
	color: white;
	font-weight: 100;
	font-size: 10pt;
	letter-spacing: 1px;
}

.footer a{
	padding: 0px 5px;
}

.footer img{
	margin-left: 10px;
	margin-right: 2px
}

.optbotao,
.optbotao2,
.selecaoFixa{
	width: 100%;
	background-color: #daeaf2;
	color: #0077bd;
	margin: 10px auto;
	font-size: 16px;
	font-weight: 800;
	word-wrap: break-word;
	min-height: 100%;
	display: flex;
	align-items: center;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.optbotao{
	height: 125px;
	text-align: center;
}

.optbotao #icone{
	border-right: solid 3px #d7e5ec;
	padding: 10px;
}

.optbotao #icone span{
	font-size: 40pt;
}

.optbotao2{
	height: 75px;
}

.optbotao2 span{
	padding: 0px 50px;
}

.selecaoFixa{
	height: 100px;
	text-align: center;
}

.selecaoFixa > div{
	width: 100%;
	display: inline;
	padding: 5px;
}

.optbotao:hover,
.optbotao2:hover,
.selecaoFixa:hover{
	background-color: #e3f4fa;
}

.paragrafo1{
	margin-top: 16px;
	font-size: 13pt;
	text-align : justify;
	color: #566;
	white-space: pre-line;
}

.paragrafo2{
	margin-top: 16px;
	font-size: 11pt;
	text-align : justify;
	color: #444;
	white-space: pre-line;
}

.barraDeTitulo{
	height: 40px;
	background-color: #0099df;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-left: 25px;
}

.titulo1{
	font-weight: 600;
	font-size: 16pt;
	color: white;
}

.titulo3, .titulo2{
	font-size: 16pt;
}

.titulo2{
	font-weight: 800;
	color: #444;
	text-align: center;
}

.titulo3{
	font-weight: 400;
	color: #0099df;
}

.vertical-center {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.horiz-center{
	text-align: center;
	align-items: center;
}

.horiz-right{
	text-align: right;
	align-items: right;
}

.right{
	float: right;
}

.logoRodape{
	margin-top: 10px;
}

.notificacao,
.notificacaoZero,
.notificacaoAtencao{
	display: inline;
	border-radius: 10px;
	padding: 0px 7px;
	font-size: 11pt;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.notificacao{
	background-color: #f33;
	color: white;
}

.notificacaoZero{
	background-color: #ccc;
	color: #aaa;
}

.notificacaoAtencao{
	background-color: #ff8800;
	color: white;
}

#semNotifMsg{
	margin-top: 5px;
	margin-bottom: 10px;
}

#semNotifMsg > span{
 color: #ccc;
}

.notifHora{
	font-size: 12px;
	font-style: italic;
	text-align: right;
}

.msgAjuda{
	font-size: 10pt;
	color: #999;
}

.quant{
	width: 40px;
	border: none;
	outline: none;
}

.backPage{
	background-color: #fdfdfd;
}

.lista{
	font-size: 14px;
	background-color: #fff;
}

.lista th{
	background-color: #0099df;
	color: white;
	font-size: 11px;
}

.lista .rowLink:hover{
	cursor: pointer;
	background-color: #f0f8ff;
}

.lista .rowSelect:hover{
	background-color: #f0f8ff;
}

.lista .inativo{
	background-color: #fafafa;
}

.lista .inativo:hover{
	background-color: #fdfdfd;
}

input[type='file']{
	display: none;
}

.alert{
	margin-bottom: 0px;
}

.alert a{
	color: white;
	text-decoration: underline;
}

.dropdown-menu{
	border-top: 10px solid #0077bd;
	height: auto;
    max-height: 400px;
    min-width: 260px;
    overflow-x: hidden;
}

.dropdown-menu li{
	border-top: 1px solid #f5f5f5;
}

.glyphicon-ok-sign{
	color: #0099df;
}

.glyphicon-remove-sign{
	color: #f32;
}

.alteraImg{
	margin-bottom: 10px;
}

input[name='recursoAtivo']{
	margin-bottom: 20px;
}

.esconder{
	display: none;
}

.semSelecao{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

@media only screen and (max-width: 770px) {
  	.navItens .dropdown:hover{
		background-color: transparent;
	}
	#notifLabel:after{
		content: " Notificações";
	}
	#configLabel:after{
		content: " Configurações";
	}
	
}