{% extends 'base.html' %}

{% block body %}
<strong>1 Introdução</strong>
<br><br>
<p>Obrigado por escolher o Spotify ("Spotify," "nós", "nosso"). Spotify fornece serviços personalizados com recursos sociais e interativos para streaming de música e outros conteúdos, bem como outros produtos e serviços que venham a ser desenvolvidos. Ao inscrever-se ou usar qualquer um dos aludidos serviços do Spotify, inclusive todos os recursos e funcionalidades, websites e interfaces de usuário associados, bem como todos os aplicativos de conteúdo e software associados aos nossos serviços (coletivamente, o "Serviço Spotify" ou "Serviço"), ou acessar qualquer música, vídeo ou outro conteúdo ou material disponibilizado pelo serviço (o "Conteúdo") você estará celebrando um contrato vinculativo com a pessoa jurídica Spotify indicada na Seção 25 (Fale Conosco).</p>

<p>Seu contrato conosco inclui estes Termos e quaisquer termos adicionais com os quais você concordar, conforme discutido na seção Íntegra do Acordo abaixo, além de termos com quaisquer terceiros (coletivamente, os "Acordos"). Os Acordos incluem termos relativos a alterações futuras dos Acordos, controles de exportação, renovações automáticas, limitações de responsabilidade, privacidade renúncia a ações coletivas e resolução de disputas por arbitragem ao invés de um tribunal. Se você deseja rever os termos dos Acordos, a versão atual e efetiva dos Acordos pode ser encontrada no site do Spotify. Você atesta que leu e compreendeu os Acordos, aceita esses Acordos e concorda em ficar vinculado por eles. Se você não concordar (ou não puder cumprir) com os Acordos, então você não poderá usar o serviço Spotify nem acessar qualquer Conteúdo.</p>

<p>Para usar o Serviço Spotify e acessar qualquer conteúdo, você precisa (1) cumprir os requisitos de idade da tabela abaixo, (2) ter o poder para celebrar um contrato vinculativo conosco e não pode ser impedido de assim faze-lo pelas leis aplicáveis e (3) residir em um país onde o Serviço estiver disponível. Você ainda promete que qualquer informação de registro que você enviar para o Spotify é verdadeira, precisa e completa, e você concorda em mantê-las assim em todos os momentos. Se você é um residente de um dos seguintes países, faça referência a essa tabela para verificar as restrições de idade específicas do seu país:</p>

<p>Se seu país estiver marcado com um asterisco (*) na tabela abaixo, e você precisar do consentimento dos pais ou de um responsável, seu genitor ou responsável celebrará o contrato em seu favor.</p>
<br>

{% endblock %}