{% extends 'base.html' %}

{% block body %}
<form action="salvar/" method="POST">
	{% csrf_token %}

	<div class="row">
		<h3 class="titulo2">Primeiro Acesso</h3><br>
		<div class="col-md-4 col-md-offset-4">
			<div style="text-align: justify;">
				<p>
					Olá, <strong>{{request.user.usuario.nome}}</strong>!
				</p>
				<p>
					Bem-vindo(a) ao DoHere, a plataforma de reservas da Universidade Estadual do Piauí.
				</p>
				<p>
					Digite abaixo uma nova senha para seus futuros acessos à plataforma. Recomendamos que você use uma senha que não tenha referência de informações pessoais. Lembre-se que uma senha forte contém letras, números e símbolos.
				</p>
			</div>
			<hr>
			<div class="form-group">
			  	<label for="senhaNova">Nova senha</label><br>
			  	<input type="password" id="senhaNova" name="senhaNova" class="form-control" maxlength="20" placeholder="Digite sua nova senha. Mínimo 8 dígitos alfanuméricos" required>
			</div>
			<div class="form-group">
			  	<label for="senhaNova2">Repita a nova senha</label><br>
			  	<input type="password" id="senhaNova2" name="senhaNova2" class="form-control" maxlength="20" placeholder="Repita a sua nova senha" required>
			</div>
		</div>
	</div><br>

	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<input type="submit" class="btn btn-primary form-control" value="Salvar">
		</div>
	</div>
</form>
{% endblock %}