{% extends 'base.html' %}

{% block body %}

<table class="table table-bordered lista">
	<tr>
		<th width="7%" class="horiz-center">ID</th>
		<th width="45%"><strong>Nome</strong></th>
		<th width="18%"><strong>Tipo</strong></th>
		<th width="6%" class="horiz-center"><strong>Status</strong></th>
		<th width="12%" class="horiz-center"><strong>Cadastro</strong></th>
		<th width="12%" class="horiz-center"><strong>Último Login</strong></th>
	</tr>
	{% for u in usuarios %}
	<tr class="rowLink {% if not u.is_active %}active{% endif %}" data-href="/usuarios/exibir/{{u.id}}/">
		<td class="horiz-center">{{u.id|stringformat:"05d"}}</td>
		<td>{{u.usuario.nome}}</td>
		<td>{{u.usuario.tipo.nome}}</td>
		<td class="horiz-center">
			{% if u.is_active %}
			<span class="glyphicon glyphicon-ok-sign"></span>
			{% else %}
			<span class="glyphicon glyphicon-remove-sign"></span>
			{% endif %}
		</td>
		<td class="horiz-center">{{u.usuario.dataCriacao|date:"d/m/y - H:i"}}</td>
		{% if u.last_login is None %}
			<td class="horiz-center">Nunca Logado</td>
		{% else %}
			<td class="horiz-center">{{u.last_login|date:"d/m/y - H:i"}}</td>
		{% endif %}
	</tr>
	{% empty %}
	<tr>
		<td colspan="6">Sem usuários..</td>
	</tr>
	{% endfor %}
</table>
{% if usuarios.paginator.num_pages > 1 %}
<!-- Paginação -->
<div class="row">
	<div class="horiz-center">
		<ul class="pagination semSelecao">
			{% if usuarios.has_previous %}
			<li>
				<a href="?pag=1">
					<span>&laquo;</span>
				</a>
			</li>
			{% else %}
			<li class="disabled">
				<a><span>&laquo;</span></a>
			</li>
			{% endif %}

			{% for pagNum in usuarios.paginator.page_range %}
			{% if usuarios.number == pagNum %}
			<li class="active"><a>{{pagNum}}</a></li>
			{% else %}
			<li><a href="?pag={{pagNum}}">{{pagNum}}</a></li>
			{% endif %}
			{% endfor %}

			{% if usuarios.has_next %}
			<li>
				<a href="?pag={{ usuarios.paginator.num_pages }}">
					<span>&raquo;</span>
				</a>
			</li>
			{% else %}
			<li class="disabled">
				<a><span>&raquo;</span></a>
			</li>
			{% endif %}
		</ul>
	</div>
</div>
{% endif %}
<hr>
<div class="row botoes">
	<div class="col-md-4 col-md-offset-4">
		<a class="btn btn-primary form-control" href="/usuarioCadastro/tipo/">Cadastrar Novo</a>
	</div>
</div>
{% endblock %}