{% extends 'base.html' %}

{% block body %}
<br><br>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div style="text-align: center; font-size: 30pt; color: #0077bd;">
			<span class="glyphicon glyphicon-user"></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="titulo2">
			<p>{{usuarioObj.usuario.nome}} - {{usuarioObj.usuario.tipo.nome}}</p>
		</div>
		<div class="horiz-center">
			<p><strong>{{usuarioObj.email}}</strong></p>
			<p>Campus {{usuarioObj.usuario.campus.nome}}</p>
			{% if usuarioObj.usuario.dataNasc is not None %}
			<p>Data de Nascimento: {{usuarioObj.usuario.dataNasc}}</p>
			{% endif %}
			{% if usuarioObj.usuario.matricula is not None %}
			<p>Matrícula: {{usuarioObj.usuario.matricula}}</p>
			{% endif %}
			{% if usuarioObj.usuario.curso is not None %}
			<p>Curso: {{usuarioObj.usuario.curso.nome}}</p>
			{% endif %}
			{% if usuarioObj.usuario.setor is not None %}
			<p>Setor: {{usuarioObj.usuario.setor.nome}}</p>
			{% endif %}
			{% if usuarioObj.usuario.cpf is not None %}
			<p>CPF: {{usuarioObj.usuario.cpf}}</p>
			{% endif %}
			{% if usuarioObj.usuario.cnpj is not None %}
			<p>CNPJ: {{usuarioObj.usuario.cnpj}}</p>
			{% endif %}
			{% if usuarioObj.usuario.telefone is not None %}
			<p>Telefone: {{usuarioObj.usuario.telefone}}</p>
			{% endif %}
		</div>
	</div>
</div>
<br><br><br>
<div class="row botoes">
	<div class="col-md-4 col-md-offset-2">
		<a class="btn btn-default form-control" href="/usuarios/listar/">Voltar</a>
	</div>
	<div class="col-md-4">
		{% if usuarioObj.is_active %}
		<a class="btn btn-danger form-control" href="/usuarios/exibir/{{usuarioObj.usuario.id}}/desativar/">Desativar essa conta</a>
		{% else %}
		<a class="btn btn-primary form-control" href="/usuarios/exibir/{{usuarioObj.usuario.id}}/reativar/">Reativar essa conta</a>
		{% endif %}
	</div>
</div>
{% endblock %}