{% extends 'base.html' %}

{% block body %}
<form action="salvar/" method="POST">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="unidadeAtiva" {% if unidadeEdit.ativo or modo == 'adicionar' %}checked{% endif %}>
					Ativo?
				</label>
			</div><br>
			<div class="form-group">
				<label for="unidadeNome">Nome da Unidade</label>
				<input type="text" id="unidadeNome" name="unidadeNome" class="form-control" placeholder="Nome da Unidade" value='{{unidadeEdit.nome}}' required>
			</div>
			<div class="form-group">
				<label for="endCep">CEP</label><br>
				<input type="text" id="endCep" name="endCep" class="form-control" maxlength="8" placeholder="CEP" value="{{unidadeEdit.endereco.cep}}" required>
			</div>
			<div class="form-group">
				<label for="endLogr">Nome da Rua</label><br>
				<input type="text" id="endRua" name="endRua" class="form-control" placeholder="Rua, avenida, etc." value="{{unidadeEdit.endereco.rua}}" required>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="form-group">
					  	<label for="endNum">Número</label><br>
					  	<input type="text" id="endNum" name="endNum" class="form-control" maxlength="10" placeholder="Número" value="{{unidadeEdit.endereco.numero}}" required>
					</div>
				</div>
				<div class="col-md-7">
					<div class="form-group">
						<label for="endCompl">Complemento</label><br>
						<input type="text" id="endCompl" name="endCompl" class="form-control" placeholder="Complemento" value="{{unidadeEdit.endereco.complem}}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
					  	<label for="endUf">UF</label><br>
					  	<input type="text" id="endUf" name="endUf" class="form-control" maxlength="2" placeholder="UF" value="{% if unidadeEdit.endereco.uf %}{{unidadeEdit.endereco.uf}}{% else %}PI{% endif %}" required>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
					  	<label for="endNumero">Cidade</label><br>
					  	<input type="text" id="endCidade" name="endCidade" class="form-control" maxlength="30" placeholder="Cidade" value="{{unidadeEdit.endereco.cidade}}" required>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<label for="endBairro">Bairro</label><br>
						<input type="text" id="endBairro" name="endBairro" class="form-control" maxlength="30" placeholder="Bairro" value="{{unidadeEdit.endereco.bairro}}">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="telefone">Telefone</label><br>
						<input type="text" id="telefone" name="telefone" class="form-control" maxlength="11" placeholder="Telefone. Somente números" {% if unidadeEdit.telefone %} value="{{unidadeEdit.telefone}}" {% else %} value="" {% endif %} required>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row botoes">
		<div class="col-md-2 col-md-offset-3">
			<a href="/meuCampus/" class="btn btn-default form-control">Voltar</a>
		</div>
		<div class="col-md-4">
			<input type="submit" class="btn btn-primary form-control" value="{% if acao == 'adicionar' %}Adicionar{% else %}Salvar{% endif %}">
		</div>
	</div>
</form>
{% endblock %}