{% extends 'base.html' %}

{% block body %}
{% if validlink %}
<div class="row" style="margin-top: 50px;">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="horiz-center">
            <strong>Mude sua Senha</strong>
        </div>
        <form method="POST">
            {% csrf_token %}
            <label>Nova Senha</label>
            {{form.new_password1}}
            <label>Repita</label>
            {{form.new_password2}}
            <button class="btn btn-primary form-control" type="submit">Alterar Senha</button>
        </form>
    </div>
</div>
<script type="text/javascript">
    $("[type='password']").attr('class', 'form-control')
                          .css('margin-bottom', '15px');

    $("#id_new_password1").attr('placeholder', 'Digite sua nova senha');

    $("#id_new_password2").attr('placeholder', 'Digite novamente');
</script>
{% else %}
<p>
    O link que você clicou perdeu a validade, possivelmente porque já foi usado.
    Por favor, solicite a recuperação de senha novamente.
</p>
{% endif %}
{% endblock %}