{% extends 'base.html' %}

{% block body %}
<p>
	Foi enviado um email para você, contendo as instruções para recuperar sua senha!
</p>
<p>
	Se você não recebeu, verifique se você digitou seu email corretamente ou veja na sua Caixa de Spam.
</p>
{% endblock %}