{% extends 'base.html' %}

{% block body %}
<div class="row" style="margin-top: 50px;">
	<div class="col-md-4 col-md-offset-4">
		<div class="horiz-center">
			<strong>Digite seu email cadastrado na plataforma</strong>
		</div>
		<form method="post">
			{% csrf_token %}
			{{ form.email }}
			<button class="btn btn-primary form-control" type="submit">Recuperar Senha</button>
		</form>
	</div>
</div>
<script type="text/javascript">
	$("#id_email").attr('class', 'form-control')
				  .attr('placeholder', 'Seu email')
				  .css('margin', '30px auto');
</script>
{% endblock %}