{% extends 'base.html' %}

{% block body %}
<div class="row" style="margin-top: 50px;">
	<div class="col-sm-4 col-sm-offset-4">
		<div class="horiz-center">
			<strong>Sua senha foi alterada!</strong><br>
			Agora você pode acessar com sua nova senha.
		</div>
	</div>
</div>
<div class="row botoes">
	<div class="col-sm-4 col-sm-offset-4">
		<a href="/login/" class="btn btn-primary form-control">Entrar</a>
	</div>
</div>
{% endblock %}