{% extends 'base.html' %}

{% block body %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<table class="table table-bordered lista">
			<tr>
				<th width="70%">Nome</th>
				<th width="30%" class="horiz-center">Cidade</th>
			</tr>
			{% for c in campusQS %}
			<tr class="rowLink" data-href="/campus/editar/{{c.id}}/">
				<td>{{c.nome}}</td>
				<td class="horiz-center">{{c.cidade}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<a class="btn btn-primary form-control" href="/campus/adicionar/"><span class="glyphicon glyphicon-plus"></span> &nbsp; ADICIONAR NOVO CAMPUS</a>
	</div>
</div>
{% endblock %}