{% extends 'base.html' %}

{% block body %}
{% if altCampus is not None %}
<div class="row">
	<div class="col-md-5 col-md-offset-7">
		<div class="form-group">
			<label for="campus">Campus</label><br>
			<select id="campus" name="campusId" class="form-control" onchange="location=this.value;">
				<option selected disabled hidden>Selecione</option>
				{% for c in altCampus.campusLista %}
				{% if c == altCampus.campusAtual %}
				<option value="/campus{{c.id}}/meuCampus/" selected>{{ c.nome }}</option>
				{% else %}
				<option value="/campus{{c.id}}/meuCampus/">{{ c.nome }}</option>
				{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>
</div>
<hr>
{% endif %}
<div class="row">
	<div class="titulo2">
		<span>Campus {{meuCampus.nome}}</span>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-bordered table-responsive lista">
			<tr>
				<th width="35%">Unidade</th>
				<th width="65%">Endereço</th>
			</tr>
			{% for u in unidadeQS %}
			<tr class="rowLink {% if forloop.counter == 1 %}active{% endif %}" data-href="{% if forloop.counter == 1 %}#{% else %}/unidade/editar/{{u.id}}/{% endif %}">
				<td>{{u.nome}}</td>
				<td>{{u.endereco.rua}}, {{u.endereco.numero}} - Bairro {{u.endereco.bairro}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<div class="row botoes">
	<div class="col-md-4 col-md-offset-4">
		<a class="btn btn-primary form-control" href="/unidade/adicionar/">Adicionar Unidade</a>
	</div>
</div>

{% endblock %}