{% extends 'base.html' %}

{% block body %}
<table class="table table-responsive table-bordered lista">
	<tr>
		<th width="12%" class="horiz-center">Data/Hora do Pedido</th>
		<th width="40%">Título</th>
		<th width="12%" class="horiz-center">Início</th>
		<th width="12%" class="horiz-center">Fim</th>
		<th width="12%" class="horiz-center">Status</th>
		<th width="12%" class="horiz-center">Avaliado em</th>
	</tr>
	{% for p in pedidos %}
	<tr class="rowLink {% if p.expirado %}inativo{% endif %}" data-href="/minhasReservas/detalhar/{{p.id}}/">
		<td class="horiz-center">{{p.dataCriacao|date:"d/m/y - H:i"}}</td>
		<td>{{p.reserva.titulo}}</td>
		<td class="horiz-center">{{p.reserva.inicio|date:"d/m/y - H:i"}}</td>
		<td class="horiz-center">{{p.reserva.fim|date:"d/m/y - H:i"}}</td>
		<td>
			<span class="glyphicon glyphicon-stop" style="color: {{p.status.cor}}"></span>
			{{p.status.nome}}
		</td>
		{% if p.status.id == 3 or p.status.id == 4 %}
			<td class="horiz-center">- / - / -</td>
		{% else %}
			<td class="horiz-center">{{p.dataAvaliacao|date:"d/m/y - H:i"}}</td>
		{% endif %}
	</tr>
	{% empty %}
	<tr>
		<td colspan="6">Sem pedidos por enquanto..</td>
	</tr>
	{% endfor %}
</table>
{% if pedidos.paginator.num_pages > 1 %}
<!-- Paginação -->
<div class="row">
	<div class="horiz-center">
		<ul class="pagination semSelecao">
			{% if pedidos.has_previous %}
			<li>
				<a href="?pag=1">
					<span>&laquo;</span>
				</a>
			</li>
			{% else %}
			<li class="disabled">
				<a><span>&laquo;</span></a>
			</li>
			{% endif %}

			{% for pagNum in pedidos.paginator.page_range %}
			{% if pedidos.number == pagNum %}
			<li class="active"><a>{{pagNum}}</a></li>
			{% else %}
			<li><a href="?pag={{pagNum}}">{{pagNum}}</a></li>
			{% endif %}
			{% endfor %}

			{% if pedidos.has_next %}
			<li>
				<a href="?pag={{ pedidos.paginator.num_pages }}">
					<span>&raquo;</span>
				</a>
			</li>
			{% else %}
			<li class="disabled">
				<a><span>&raquo;</span></a>
			</li>
			{% endif %}
		</ul>
	</div>
</div>
{% endif %}
{% endblock %}