{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="horiz-center titulo2">
			<span>{{pedidoObj.reserva.titulo}}</span>
			<span style="color: #ddd;"> &nbsp; | &nbsp; </span>
			<span class="glyphicon glyphicon-stop" style="color:{{pedidoObj.status.cor}};"></span> 
			<span style="color: {{pedidoObj.status.cor}}; font-weight: 400">{{pedidoObj.status.nome}}</span>
		</div>
		<br>
		<div class="horiz-center">
			<strong>Solicitante:</strong> {{pedidoObj.solicitanteNome}} - {{pedidoObj.solicitanteContato}}
			<span class="collapsible-title semSelecao" id="collapsible-title">+ Detalhes</span>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<div class="collapsible-content" id="collapsible-content">
				<table class="table horiz-center">
					<tr><td><strong>Criado em: </strong>{{pedidoObj.dataCriacao}}</td></tr>
					{% if pedidoObj.dataAvaliacao is not None %}
					<tr><td><strong>Avaliado em: </strong> {{pedidoObj.dataAvaliacao}}</td></tr>
					{% endif %}
					{% if pedidoObj.oficio is not None %}
					<tr><td>
						<strong>Ofício: </strong> 
						<a href="{% static pedidoObj.oficio %}" target="_blank">{{pedidoObj.oficio}}</a>
					</td></tr>
					{% endif %}
				</table>
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<p class="paragrafo2">
				<strong>Descrição/Justificativa:</strong> 
					{% if pedidoObj.reserva.descricao != "" %}
					{{pedidoObj.reserva.descricao}}
					{% else %}
					Não há descrição!
					{% endif %}
			</p>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="horiz-center">
		<span class="titulo3">Local</span><br>
		<span class="titulo2">{{pedidoObj.campusUnidade.nome}}</span><br>
		<span>
			{{pedidoObj.campusUnidade.endereco.rua}}, 
			{{pedidoObj.campusUnidade.endereco.numero}} - 
			Bairro {{pedidoObj.campusUnidade.endereco.bairro}}, 
			CEP {{pedidoObj.campusUnidade.endereco.cep}}
		</span><br>
		<span>Tel: {{pedidoObj.campusUnidade.telefone}}</span>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="horiz-center">
			<span class="titulo3">Período Selecionado</span>
			{% if pedidoObj.reserva.inicio.date == pedidoObj.reserva.fim.date %}
			<h4>
				<strong>{{pedidoObj.reserva.inicio|date:"d \d\e F"}}</strong><br>
				INÍCIO: <strong>{{pedidoObj.reserva.inicio|date:"H\hi"}}</strong> | 
				FIM: <strong>{{pedidoObj.reserva.fim|date:"H\hi"}}</strong>
			</h4>
			{% else %}
			<h4>
				INÍCIO: <strong>{{pedidoObj.reserva.inicio|date:"d \d\e F - H\hi"}}</strong><br>
				FIM: <strong>{{pedidoObj.reserva.fim|date:"d \d\e F - H\hi"}}</strong>
			</h4>
			{% endif %}
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="horiz-center">
			<span class="titulo3">Recursos Solicitados</span>
			<table class="table table-bordered lista">
				<tr>
					<th class="horiz-center">Nome</th>
				</tr>
				{% for rc in pedRecursos %}
					<tr>
						<td>{{rc.quant}}x&nbsp; <strong>{{rc.nome}}</strong></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
<hr>
<br>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		OBSERVAÇÃO:<br>
		{% if pedidoObj.observacao is not None and pedidoObj.observacao != "" %}
		<span style="white-space: pre-line">{{pedidoObj.observacao}}</span>
		{% else %}
		Não há observação.
		{% endif %}
	</div>
</div>
<hr>
<br>
<div class="row">
	<div class="col-xs-3 col-xs-offset-3">
		<a href="/minhasReservas/listar/" class="btn btn-primary form-control">Voltar</a>
	</div>
	<div class="col-xs-3">
		{% if pedidoObj.status.id in podeCancelarIds %}
		<a href="cancelar/" class="btn btn-danger form-control">Cancelar Pedido</a>
		{% elif pedidoObj.status.id == 4 %}
		<a class="btn btn-danger form-control disabled">Pedido Cancelado!</a>
		{% else %}
		<a class="btn btn-danger form-control disabled">Pedido Avaliado!</a>
		{% endif %}
	</div>
</div>
{% endblock %}