{% extends 'base.html' %}
{% load staticfiles %}

{% block addHead %}
	<link rel='stylesheet' href="{% static 'css/fullcalendar.css' %}">
	<script src="{% static 'lib/moment.min.js' %}"></script>
	<script src="{% static 'lib/fullcalendar.js' %}"></script>
	<script src="{% static 'locale/pt-br.js' %}"></script>
	<script src="{% static 'lib/calendarioReservarRP.js' %}"></script>
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-xs-7 col-xs-offset-2">
		<div class="col-xs-10 col-xs-offset-1 popup">
			<form action="{{formAction}}" method="POST">
				{% csrf_token %}<br>
				<div class="titulo2">
					Período
				</div>
				<div id="reservaPeriodo" class="horiz-center">
					Houve um erro ao exibir o período.
				</div><br>
				<label for="reservaTitulo">Título da Reserva</label>
				<input type="text" class="form-control" id="reservaTitulo" name="reservaTitulo" maxlength="50" autocomplete="off" placeholder="Digite seu título aqui" required><br>
				<label for="reservaPeriodo">Descrição</label>
				<textarea 
					id="reservaDescricao"
					class="form-control"
					data-status-message="#counter"
					rows="3"
					name="reservaDescricao"
					maxlength="1000"
					placeholder="Descrição opcional"
				></textarea>
				<div id="counter" class="right"></div><br>
				<br>
				<input type="hidden" id="reservaInicio" name="reservaInicio" required>
				<input type="hidden" id="reservaFim" name="reservaFim" required>
				<input type="hidden" id="reservaRecursoId" name="reservaRecursoId" value="{{reservaRecursoId}}" required>
				<div class="col-xs-6">
					<a id="cancelar" class="btn btn-default form-control">Cancelar</a>
				</div>
				<div class="col-xs-6">
					<input class="btn btn-primary form-control" type="submit" value="Continuar">
				</div>
				<input type="hidden" name="unidadeId" value="{{request.POST.unidadeId}}">
			</form>
		</div>
	</div>
</div>
<div id="calendarioReservarRP"></div>
<div id="telaCheia">
	<div class="col-xs-3 col-xs-offset-5 vertical-center">
		<span>CARREGANDO O CALENDÁRIO...</span>
	</div>
</div>
{% endblock %}