{% extends 'base.html' %}

{% block body %}
<form id="selecaoFixaForm" action="" method="POST">
	{% csrf_token %}
	<div class="row">
		<div class="col-sm-4">
			<div class="selecaoFixa">
				<div>RESERVAR POR PERÍODO <span class="glyphicon glyphicon-ok okIcone" style="display: none;"></span></div>
			</div>
			<div class="hidden">
                <input type="radio" name="modo" class="selecaoFixaOpcao" data-href="/reservar/pr/selUnidade/" value="#" required>
            </div>
		</div>
		<div class="col-sm-4">
			<div class="selecaoFixa">
				<div>RESERVAR POR RECURSO <span class="glyphicon glyphicon-ok okIcone" style="display: none;"></span></div>
			</div>
			<div class="hidden">
                <input type="radio" name="modo" class="selecaoFixaOpcao" data-href="/reservar/rp/selUnidade/" value="#" required>
            </div>
		</div>
	</div>
	<hr>
	<div class="row botoes">
		<div class="col-sm-2 col-sm-offset-3">
            <a href="/painel/" class="btn btn-default form-control">Voltar</a>
        </div>
        <div class="col-sm-4">
            <input type="submit" class="btn btn-primary form-control" value="Próximo">
        </div>
    </div>
</form>
{% endblock %}