{% extends 'base.html' %}

{% block body %}
<form id="formSelRecursos" action="{{formAction}}" method="POST">
	{% csrf_token %}
	<!-- Detalhes do período selecionado na etapa anterior -->
	<div class="row">		
		<div class="horiz-center">
			<h5>Período Selecionado</h5>
			{% if inicio.date == fim.date %}
			<h4>
				<strong>{{inicio|date:"d \d\e F"}}</strong> - 
				INÍCIO: <strong>{{inicio|date:"H\hi"}}</strong> | 
				FIM: <strong>{{fim|date:"H\hi"}}</strong>
			</h4>
			{% else %}
			<h4>
				INÍCIO: <strong>{{inicio|date:"d \d\e F  H\hi"}}</strong> | 
				FIM: <strong>{{fim|date:"d \d\e F  H\hi"}}</strong>
			</h4>
			{% endif %}
		</div>
		<hr>

		<!-- TABS - Tipos de Recurso -->
		<div class="col-md-10 col-md-offset-1">
			<ul class="nav nav-tabs" role="tablist">
				{% for rcTipo in recursoTipoLista %}
			    <li role="presentation" {% if forloop.counter == 1 %}class="active"{% endif %}>
			    	<a href="#rctp{{rcTipo.id}}" aria-controls="rctp{{rcTipo.id}}" role="tab" data-toggle="tab">{{rcTipo.nome}}</a>
			    </li>
			    {% empty %}
			    <li role="presentation" class="active">
			    	<a href="#vazio" aria-controls="vazio" role="tab" data-toggle="tab">Não há Recursos</a>
			    </li>
			    {% endfor %}
			</ul>
		</div>

		<div class="col-md-6 col-md-offset-3">
			<div class="tab-content">
				{% for rcTipo in recursoTipoLista %}
				<div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="rctp{{rcTipo.id}}">
					<div class="row">
						<h3 class="titulo2">{{unidadeObj.nome}}</h3>
						<table class="table table-bordered lista">
							<tr>
								<th width="5%" class="horiz-center">&#10004;</th>
								<th width="10%" class="horiz-center">Quant</th>
								<th width="55%">Nome</th>
								<th width="30%" class="horiz-center">Disponibilidade</th>
							</tr>
							{% for recurso in recursos %}
							{% if recurso.tipo == rcTipo %}
							<tr data-href="{{recurso.id}}" {% if recurso.quantidade == 0 %} class="indisponivel" {% endif %}>
								<td class="horiz-center">
									{% if recurso.quantidade > 0 %}
									<input type="checkbox" name="recurso" value="{{recurso.id}}">
									{% else %}
									&#x25A0;
									{% endif %}
								</td>
								<td class="horiz-center">
									{% if recurso.quantidade > 0 %}
									<input type="number" id="{{recurso.id}}" name="quant" class="quant" value="0" min="0" max="{{recurso.quantidade}}">
									{% else %}
									&#x25A0;
									{% endif %}
								</td>
								<td><a href="/recursos/exibir/{{recurso.id}}/" target="_blank">{{recurso.nome}}</a> {% if recurso.quantidade == 0 %}({{recurso.indispMotivo}}){% endif %}</td>
								<td class="horiz-center">
									{% if recurso.dispHoraInicio|date:"H:i" == "00:00" and recurso.dispHoraFim|date:"H:i" == "00:00"%}
									24h
									{% else %}
									{{recurso.dispHoraInicio|date:"H:i"}} - {{recurso.dispHoraFim|date:"H:i"}}
									{% endif %}
								</td>
							</tr>
							{% endif %}
							{% endfor %}
						</table>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row botoes">
		<div class="col-md-4 col-md-offset-2">
			<br><a href="/reservar/pr/selUnidade/" class="btn btn-default form-control">Início</a>
		</div>
		<div class="col-md-4 ">
			<br><input id="submitSelRecursos" type="submit" class="btn btn-primary form-control" value="Próximo">
		</div>
	</div>
	<input type="hidden" name="reservaTitulo" value="{{request.POST.reservaTitulo}}">
	<input type="hidden" name="reservaInicio" value="{{request.POST.reservaInicio}}">
	<input type="hidden" name="reservaFim" value="{{request.POST.reservaFim}}">
	<textarea class="hidden" name="reservaDescricao">{{request.POST.reservaDescricao}}</textarea>
	<input type="hidden" name="unidadeId" value="{{request.POST.unidadeId}}">
</form>
{% endblock %}