{% extends 'base.html' %}

{% block addHead %}
	{% load staticfiles %}
	<script src="{% static 'lib/reservasHoje.js' %}"></script>
{% endblock %}

{% block body %}
<br>
<div class="row">
	<div class="col-sm-2 col-sm-offset-3">
		<a href="/reservas/{{diaAnter|date:'d-m-Y'}}/" class="btn btn-default form-control">
			<span class="glyphicon glyphicon-arrow-left"></span> &nbsp;
			{{diaAnter|date:"d \d\e F"}}
		</a>
	</div>
	<div class="col-sm-2">
		<a href="/reservas/{{hoje|date:'d-m-Y'}}/"
		   class="btn
		   		  {% if diaAtual.date == hoje.date %}
		          btn-primary
		          {% else %}
		          btn-warning
		          {% endif %}
		          form-control">

			{% if diaAtual.date == hoje.date %}
			Atualizar &nbsp;
			<span class="glyphicon glyphicon-refresh"></span>
			{% else %}
			Hoje &nbsp;
			<span class="glyphicon glyphicon-time"></span>
			{% endif %}
		</a>
	</div>
	<div class="col-sm-2">
		<a href="/reservas/{{diaSegui|date:'d-m-Y'}}/" class="btn btn-default form-control">
			{{diaSegui|date:"d \d\e F"}} &nbsp;
			<span class="glyphicon glyphicon-arrow-right"></span>
		</a>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-6">
		<h2 class="titulo3">Iniciam em <strong>{{diaAtual|date:"d \d\e F"}}</strong></h2>
		<table class="table table-responsive table-striped table-bordered lista">
			<tr>
				<th width="10%" class="horiz-center">INÍCIO</th>
				<th width="55%">Solicitante</th>
				<th width="35%">Recursos Solicitados</th>
				<!-- <th width="10%" class="horiz-center">Recursos Cedidos</th> -->
			</tr>
			{% for p in pedidosInicioDiaAtual %}
			<tr>
				<td class="horiz-center">{{p.reserva.inicio|date:"H:i"}}</td>
				<td>{{p.solicitanteNome}}</td>
				<td>
					{% for rc in p.recursosLista %}
					{{rc.quant}}x &nbsp;<strong>{{rc.nome}}</strong><br>
					{% endfor %}
					<br>
				</td>
				<!-- <td>
					{% for rc in p.recursosLista %}
					<input type="button" data-href="/reservasHoje/" value="{{rc.id}}"><br>
					{% endfor %}
					<br>
				</td> -->
			</tr>
			{% empty %}
			<tr>
				<td colspan="6">Não há reservas</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="col-md-6">
		<h2 class="titulo3">Terminam em <strong>{{diaAtual|date:"d \d\e F"}}</strong></h2>
		<table class="table table-responsive table-striped table-bordered lista">
			<tr>
				<th width="10%" class="horiz-center">FIM</th>
				<th width="55%">Solicitante</th>
				<th width="35%">Recursos Solicitados</th>
				<!-- <th width="10%" class="horiz-center">Recursos Recebidos</th> -->
			</tr>
			{% for p in pedidosFimDiaAtual %}
			<tr>
				<td class="horiz-center">{{p.reserva.fim|date:"H:i"}}</td>
				<td>{{p.solicitanteNome}}</td>
				<td>
					{% for rc in p.recursosLista %}
					{{rc.quant}}x &nbsp;<strong>{{rc.nome}}</strong><br>
					{% endfor %}
					<br>
				</td>
				<!-- <td class="horiz-center"><input type="checkbox" name="recebidos" value="{{p.id}}"></td> -->
			</tr>
			{% empty %}
			<tr>
				<td colspan="6">Não há reservas</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
	
{% endblock %}