{% extends 'base.html' %}

{% block body %}
<form action="{{formAction}}" method="POST">
	{% csrf_token %}

	<div class="row">
		<!-- TABS - Tipos de Recurso -->
		<div class="col-md-10 col-md-offset-1">
			<ul class="nav nav-tabs" role="tablist">
				{% for rcTipo in recursoTipoLista %}
			    <li role="presentation" {% if forloop.counter == 1 %}class="active"{% endif %}>
			    	<a href="#rctp{{rcTipo.id}}" aria-controls="rctp{{rcTipo.id}}" role="tab" data-toggle="tab">{{rcTipo.nome}}</a>
			    </li>
			    {% empty %}
			    <li role="presentation" class="active">
			    	<a href="#vazio" aria-controls="vazio" role="tab" data-toggle="tab">Não há Recursos</a>
			    </li>
			    {% endfor %}
			</ul>
		</div>

		<div class="col-md-6 col-md-offset-3">
			<div class="tab-content">
				{% for rcTipo in recursoTipoLista %}
				<div role="tabpanel" class="tab-pane {% if forloop.counter == 1%}active{% endif %}" id="rctp{{rcTipo.id}}">
					<div class="row">
						<h3 class="titulo2">{{unidadeObj.nome}}</h3>
						<table class="table table-bordered lista">
							<tr>
								<th width="10%" class="horiz-center">&#10004;</th>
								<th width="50%">Nome</th>
								<th width="40%" class="horiz-center">Disponibilidade</th>
							</tr>
							{% for recurso in recursos %}
							{% if recurso.tipo == rcTipo %}
							<tr class="rowSelect">
								<td class="horiz-center">
									<!-- <span class="glyphicon glyphicon-ok okIcone" {% if forloop.counter > 1 %} style="display: none;" {% endif %}></span> -->
									<input class="recursoSelecionado" type="radio" name="recursoSelecionado" value="{{recurso.id}}">
								</td>
								<td class="recursoNome"><a href="/recursos/exibir/{{recurso.id}}/" target="_blank">{{recurso.nome}}</a></td>
								<td class="horiz-center">
									{% if recurso.dispHoraInicio|date:"H:i" == "00:00" and recurso.dispHoraFim|date:"H:i" == "00:00"%}
									24h
									{% else %}
									{{recurso.dispHoraInicio|date:"H:i"}} - {{recurso.dispHoraFim|date:"H:i"}}
									{% endif %}
								</td>
							</tr>
							{% endif %}
							{% endfor %}
						</table>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row botoes">
		<div class="col-md-2 col-md-offset-3">
			<br><a href="/reservar/rp/selUnidade/" class="btn btn-default form-control">Voltar</a>
		</div>
		<div class="col-md-4 ">
			<br><input type="submit" class="btn btn-primary form-control" value="Próximo">
		</div>
	</div>
	<input type="hidden" name="unidadeId" value="{{request.POST.unidadeId}}">
</form>
{% endblock %}