{% extends 'base.html' %}

{% block body %}
<div class="row">
	<h3 class="horiz-center titulo2"><strong>{{confirmMsg}}</strong></h3>
	<p class="horiz-center">{{confirmInstr}}</p>
	<br>
	<div class="col-sm-4 col-sm-offset-4">
		<a class="btn btn-primary form-control horiz-center" href="/painel/">Voltar ao Painel</a>
	</div>
</div>
{% endblock %}