{% extends 'base.html' %}

{% block body %}
<form id="selecaoFixaForm" action="" method="POST">
	{% csrf_token %}
	<div class="row">
		{% for unid in unidadeQs %}
		<div class="col-sm-4">
			<div class="selecaoFixa">
				<div>{{unid.nome}} <span class="glyphicon glyphicon-ok okIcone" style="display: none;"></span></div>
			</div>
			<div class="hidden">
                <input type="radio" class="selecaoFixaOpcao" name="unidadeId" data-href="{{formAction}}" value="{{unid.id}}" required>
            </div>
		</div>
		{% endfor %}
	</div>
	<hr>
	<div class="row botoes">
         <div class="col-sm-2 col-sm-offset-3">
            <a href="/reservar/_/selModo/" class="btn btn-default form-control">Voltar</a>
        </div>
        <div class="col-sm-4">
            <input type="submit" class="btn btn-primary form-control" value="Próximo">
        </div>
    </div>
</form>
{% endblock %}