{% extends 'base.html' %}

{% block body %}
<form id="formReserv3" action="/reservar/{{modo}}/confirmacao/" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-12">
			<h3 class="titulo2">{{request.POST.reservaTitulo}}</h3>
			<div class="col-md-8 col-md-offset-2"><p class="paragrafo2">{{request.POST.reservaDescricao}}</p></div>
		</div>
	</div>
	<br>
	<hr>
	<br>
	<div class="row">
		<div class="horiz-center">
			<span class="titulo3">Local</span><br>
			<span class="titulo2">{{unidadeObj.nome}}</span><br>
			<span>
				{{unidadeObj.endereco.rua}}, 
				{{unidadeObj.endereco.numero}} - 
				Bairro {{unidadeObj.endereco.bairro}}, 
				CEP {{unidadeObj.endereco.cep}}
			</span><br>
			<span>Tel: {{unidadeObj.telefone}}</span>
		</div>
	</div>
	<br>
	<hr>
	<br>
	<div class="row">
		<div class="horiz-center">
			<span class="titulo3">Período Selecionado</span>
			{% if reservaInicio.date == reservaFim.date %}
			<h4>
				<strong>{{reservaInicio|date:"d \d\e F"}}</strong><br>
				INÍCIO: <strong>{{reservaInicio|date:"H\hi"}}</strong> | 
				FIM: <strong>{{reservaFim|date:"H\hi"}}</strong>
			</h4>
			{% else %}
			<h4>
				INÍCIO: <strong>{{reservaInicio|date:"d \d\e F - H\hi"}}</strong><br>
				FIM: <strong>{{reservaFim|date:"d \d\e F - H\hi"}}</strong>
			</h4>
			{% endif %}
		</div>
	</div>
	<br>
	<hr>
	<br>
	<div class="row horiz-center">
		<div class="col-md-6 col-md-offset-3">
			<span class="titulo3">Recursos Solicitados</span>
			<table class="table table-bordered lista" style="margin-top: 10px;">
				<tr>
					<th width="16%" class="horiz-center">Quant</th>
					<th width="68%" class="horiz-center">Nome</th>
					{% if recursoRequerOficio %}
					<th width="16%" class="horiz-center">Requer Ofício</th>
					{% endif %}
				</tr>
				{% for rc in recursoLista %}
					<tr>
						<td>{{rc.quant}} x</td>
						<td>{{rc.nome}}</td>
						{% if recursoRequerOficio %}
						<td>
							{% if request.user.usuario.tipo.requerOficio or rc.requerOficio %}
							<span class="glyphicon glyphicon-ok"></span>
							{% endif %}
						</td>
						{% endif %}
						<input type="hidden" name="reservaRecursos" value="{{rc.id}}">
						<input type="hidden" name="reservaRecursosQuant" value="{{rc.quant}}">
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<br>
	{% if podeReservarPorOutro %}
	<hr>
	<br>
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<div class="form-group">
				<label for="solicitanteNome">Nome do Solicitante</label><br>
				<input type="text" id="solicitanteNome" name="solicitanteNome" class="form-control" maxlength="100" placeholder="Nome completo do Solicitante" value="{{request.user.usuario.nome}}" required>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="solicitanteContato">Contato do Solicitante</label><br>
				<input type="text" id="solicitanteContato" name="solicitanteContato" class="form-control" maxlength="50" placeholder="Telefone ou E-mail" value="{% if request.user.usuario.telefone is None %}{%else%}{{request.user.usuario.telefone}}{% endif %}" required>
			</div>
		</div>
	</div>
	<br>
	{% endif %}
	{% if recursoRequerOficio %}
	<hr>
	<br>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="horiz-center">
				<span class="msgAjuda">* 
					{% if request.user.usuario.tipo.requerOficio %}
					Para que seu pedido seja devidamente avaliado é necessário o envio de um ofício de solicitação.
					{% else %}
					Pelo menos 1 dos recursos selecionados requer um ofício de solicitação.
					{% endif %}
					Por favor, anexe abaixo o ofício.
				</span>
			</div>
			<br>
			<div class="horiz-center" style="margin-bottom: 5px;">
				<strong>Ofício de Solicitação</strong> (Max 10Mb)
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<div class="form-group">
				<label id="oficioSolicitacao" class="btn btn-primary form-control">
					<span id="rotulo"><span class="glyphicon glyphicon-paperclip"></span> Anexar</span>
					<input type='file' id="oficioSolicitacaoInput" name="oficioSolicitacao" onchange="arquivoSel(this);" accept=".pdf,.doc,.docx,.rtf,.jpg,.jpeg,.png" required />
				</label>
			</div>
		</div>
	</div>
	<br>
	{% endif %}
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div class="checkbox horiz-center">
				<label>
					<input type="checkbox" id="termosDeUsoAceito" name="termosDeUsoAceito">&nbsp;
					Declaro que li e aceito os <a href="/termos/" target="_blank">Termos e Condições de Uso</a>
				</label>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<br><a href="/reservar/{{modo}}/selUnidade/" class="btn btn-default form-control">Refazer Pedido</a>
		</div>
		<div class="col-md-4 ">
			<br><input type="submit" id="confirmaReserva" class="btn btn-primary form-control" value="Confirmar Reserva">
		</div>
	</div>
	<input type="hidden" name="reservaTitulo" value="{{request.POST.reservaTitulo}}">
	<input type="hidden" name="reservaInicio" value="{{request.POST.reservaInicio}}">
	<input type="hidden" name="reservaFim" value="{{request.POST.reservaFim}}">
	<input type="hidden" name="unidadeId" value="{{request.POST.unidadeId}}">
	<textarea class="hidden" name="reservaDescricao">{{request.POST.reservaDescricao}}</textarea>
</form>
{% endblock %}