{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
<form id="admDecisaoForm" action="#" method="POST">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-12">
			<div class="horiz-center titulo2">
				<span>{{pedidoObj.reserva.titulo}}</span>
				<span style="color: #ddd;"> &nbsp; | &nbsp; </span>
				<span class="glyphicon glyphicon-stop" style="color:{{pedidoObj.status.cor}};"></span> 
				<span style="color: {{pedidoObj.status.cor}}; font-weight: 400">{{pedidoObj.status.nome}}</span>
			</div>
			<br>
			<div class="horiz-center">
				<strong>Solicitante:</strong> {{pedidoObj.solicitanteNome}} - {{pedidoObj.solicitanteContato}}
				<span class="collapsible-title semSelecao" id="collapsible-title">+ Detalhes</span>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<div class="collapsible-content" id="collapsible-content">
					<table class="table horiz-center">
						<tr><td><strong>Criado em: </strong>{{pedidoObj.dataCriacao}}</td></tr>
						<tr><td>
							<strong>Criado Por: </strong> 
							{% if pedidoObj.usuario != request.user.usuario %}
							<a href="/usuarios/exibir/{{pedidoObj.usuario.id}}/" target="_blank">{{pedidoObj.usuario.nome}}</a> 
							({{pedidoObj.usuario.tipo.nome}})
							{% else %}
							{{pedidoObj.usuario.nome}} ({{pedidoObj.usuario.tipo.nome}})
							{% endif %}
						</td></tr>
						{% if pedidoObj.dataAvaliacao is not None %}
						<tr><td><strong>Avaliado em: </strong> {{pedidoObj.dataAvaliacao}}</td></tr>
						{% endif %}
						{% if pedidoObj.oficio is not None %}
						<tr><td>
							<strong>Ofício: </strong> 
							<a href="{% static pedidoObj.oficio %}" target="_blank">{{pedidoObj.oficio}}</a>
						</td></tr>
						{% endif %}
					</table>
				</div>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<p class="paragrafo2">
					<strong>Descrição/Justificativa:</strong> 
						{% if pedidoObj.reserva.descricao != "" %}
						{{pedidoObj.reserva.descricao}}
						{% else %}
						Não há descrição!
						{% endif %}
				</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="horiz-center">
			<span class="titulo3">Local</span><br>
			<span class="titulo2">{{pedidoObj.campusUnidade.nome}}</span><br>
			<span>
				{{pedidoObj.campusUnidade.endereco.rua}}, 
				{{pedidoObj.campusUnidade.endereco.numero}} - 
				Bairro {{pedidoObj.campusUnidade.endereco.bairro}}, 
				CEP {{pedidoObj.campusUnidade.endereco.cep}}
			</span><br>
			<span>Tel: {{pedidoObj.campusUnidade.telefone}}</span>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="horiz-center">
				<span class="titulo3">Período Selecionado</span>
				{% if pedidoObj.reserva.inicio.date == pedidoObj.reserva.fim.date %}
				<h4>
					<strong>{{pedidoObj.reserva.inicio|date:"d \d\e F"}}</strong><br>
					INÍCIO: <strong>{{pedidoObj.reserva.inicio|date:"H\hi"}}</strong> | 
					FIM: <strong>{{pedidoObj.reserva.fim|date:"H\hi"}}</strong>
				</h4>
				{% else %}
				<h4>
					INÍCIO: <strong>{{pedidoObj.reserva.inicio|date:"d \d\e F - H\hi"}}</strong><br>
					FIM: <strong>{{pedidoObj.reserva.fim|date:"d \d\e F - H\hi"}}</strong>
				</h4>
				{% endif %}
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="horiz-center">
				<span class="titulo3">Recursos Solicitados</span>
				<table class="table table-bordered lista">
					<tr>
						<th class="horiz-center">Nome</th>
					</tr>
					{% for rc in pedRecursos %}
						<tr>
							<td>{{rc.quant}}x&nbsp; <strong>{{rc.nome}}</strong></td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<hr>
	<br>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<label>Observação</label>
				<textarea
					id="observacao"
					name="observacao"
					class="form-control"
					data-status-message="#counter"
					rows="3"
					cols="75"
					placeholder="Digite a mensagem que será enviada ao usuário solicitante"
					{% if pedidoObj.status.id not in podeAvaliarIds %}readonly{% endif %}>{% if pedidoObj.observacao is not None %}{{pedidoObj.observacao}}{% endif %}</textarea>
				<div id="counter" class="right"></div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row botoes">
		<div class="col-xs-4">
			<a href="/solicitacoes/listar/" class="btn btn-default form-control">Voltar</a>
		</div>
		<div class="col-xs-4">
			<input type="submit"
			       data-href="aceitar/"
			       class="btn
			              btn-primary
			              form-control
			              admDecisao
			              {% if pedidoObj.status.id not in podeAvaliarIds %}disabled{% endif %}"
			       value="Aceitar"
			       title="Este pedido já foi avaliado!"
			       {% if pedidoObj.status.id not in podeAvaliarIds %}disabled{% endif %}>
		</div>
		<div class="col-xs-4">
			<input type="submit"
			       data-href="negar/"
			       class="btn
			              btn-default
			              form-control
			              admDecisao
			              {% if pedidoObj.status.id not in podeAvaliarIds %}disabled{% endif %}"
			       value="Negar"
			       title="Esse pedido já foi avaliado!"
			       {% if pedidoObj.status.id not in podeAvaliarIds %}disabled{% endif %}>
		</div>
	</div>
</form>
{% endblock %}